.how-we-work {
    margin: 60px 0;
    position: relative;
  }
  
  .how-we-work-heading {
    padding: 70px 20px 20px 20px;
    text-align: center;
    position: relative;
  }
  
  .how-we-work-heading h1 {
    font-weight: 800;
    font-size: 40px;
    color: #000;
  }
  
  .how-we-work-heading p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding: 30px 75px;
  }
  
  .how-we-work-container {
    margin: 0 25px;
    padding-bottom: 25px;
  }
  
  .how-we-work-container .card {
    /* text-align: center; */
    background: transparent;
    border: none !important;
    box-shadow: none !important;
  }
  
  .how-we-work-container .card img {
    max-width: 100%;
  }
  
  .how-we-work-container .card p {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
  
  @media only screen and (max-width: 767px) {
    .how-we-work-heading {
      padding: 70px 0;
    }
  
    .how-we-work-heading h1 {
      padding-bottom: 25px;
      font-size: 28px;
    }
  
    .how-we-work-heading p {
      padding: 0 15px;
    }
  
    .how-we-work-container {
      text-align: -webkit-center;
    }
  }
  