#appName {
  font-size: 60px;
  color: rgb(214, 55, 55);
  text-align: center;
  margin: 0%;
  padding-top: 50px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#tag {
  color: rgb(214, 60, 60);
  text-align: center;
  margin: 0%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.wrapper {
  background: white;
  text-align: center;
}


.options {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}