.wholeBody{
    display:flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    height: 87vh;
    width: 100vw;
    overflow: hidden;
    margin-top: 32px;
}
.body-left{
     width:15%;
     height: 100%;
     float: left;
     overflow-y: auto;
 }
.body-right{
    width:85%;
    height: 100%;
    padding-top: 10px;
    margin: 0 auto;
    overflow-y: auto;
} 